<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="robots" content="none">

    <meta name="description" content="Score">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Score</title>
  </head>
  <body>

    <div class="container-fluid h-100">
      <div class="row text-center h-100" >
        <div class="col my-auto">
          <div class="m-2 p-2" id="indicator">
            <h3>Максимальное время ожидания обработки заказа:</h3>
            <h2 id="max-wait-time"></h2>
          </div>
          <div class="m-2">
            <h4>Не обработано заказов: <span id="unprocessed-orders-count"></span></h4>
            <h4>Сегодня обработано заказов: <span id="today-processed-orders-count"></span></h4>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      function getFormattedTime(seconds_number) {
        var hours = Math.floor(seconds_number / 3600);
        var minutes = Math.floor((seconds_number - (hours * 3600)) / 60);
        var seconds = seconds_number - (hours * 3600) - (minutes * 60);

        if (hours < 10) {
          hours = "0" + hours;
        }
        if (minutes < 10) {
          minutes = "0" + minutes;
        }
        if (seconds < 10) {
          seconds = "0" + seconds;
        }
        return hours + ':' + minutes + ':' + seconds;
      }

      function getOrdersProcessingInfo() {
        $.ajax({
          url: "/orders-processing-info",
          success: function (result) {
            var ordersProcessingInfo = result.orders_processing_info;
            var maxWaitTime = ordersProcessingInfo.max_wait_time;

            if (maxWaitTime <= 7 * 60) {
              $("#indicator").css({backgroundColor : "green", color: "white"});
            } else if (maxWaitTime <= 30 * 60) {
              $("#indicator").css({backgroundColor : "yellow", color: "black"});
            } else {
              $("#indicator").css({backgroundColor : "red", color: "white"});
            }

            $("#max-wait-time").html(getFormattedTime(maxWaitTime));
            $("#unprocessed-orders-count").html(ordersProcessingInfo.unprocessed_orders_count);
            $("#today-processed-orders-count").html(ordersProcessingInfo.today_processed_orders_count);
          }
        });
      }
      $(document).ready(function () {
        getOrdersProcessingInfo();
        setInterval('getOrdersProcessingInfo()', 10000);
      });
    </script>
  </body>
</html>
